<div >
    <h1 >Modifier la Tâche</h1>
    {{#each taches}}

    <form action="/taches/{{tache.id}}" method="POST" >
        <div>
            <label >Titre</label>
            <input type="text" name="title" value="{{task.title}}" required>
        </div>

        <div>
            <label >Description</label>
            <textarea name="description" rows="4"
                      >{{taches.description}}</textarea>
        </div>

        <div>
            <label >Priorite</label>
            <textarea name="Priorite" rows="4"
                      >{{taches.Priorite}}</textarea>
        </div>

        <div>
            <label >Status</label>
            <textarea name="Status" rows="4"
                      >{{taches.Status}}</textarea>
        </div>

        

       
        <div>
            <label >Date limite</label>
            <input type="datetime-local" name="due_date" value="{{formatDateInput task.due_date}}" required>
        </div>

        <div >
            <a href="/taches/{{tache.id}}" >
                Annuler
            </a>
            <button type="submit" >
                Mettre à jour
            </button>
        </div>
    </form>
    {{/each}} 
</div>